<tr>
    <td>@Model.VideoTitle</td>  
    <td>@Model.RatingString</td>
    <td>@Model.FavoriteString</td>
    <td>@Model.LikeCount.ToString()</td>
    <td>@Model.DislikeCount.ToString()</td>
    <td>@Model.Channel</td>
    <td>@Model.Comments</td>
    <td>@Model.DateString</td>
</tr>