<tr>
    <td><a href="@Url.Action("Details","Home",new { id = @Model.Id })">View</a></td>
    <td>@Model.Title</td>  
    <td>@Model.Rating</td>
    <td><a href="@Url.Action("Deleter","Home",new { id = @Model.Id })">Remove</a></td>
    <td>@Model.Likes.ToString()</td>
    <td>@Model.Dislikes.ToString()</td>
    <td>@Model.ChannelTitle</td>
    <td>@Model.Comment</td>
    <td>@Model.PublishDateString</td>
</tr>