@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My You Tube</h1>
    <p class="lead">Make a list; check it twice. Save some you tube videos. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Help</h2>
        <p>
            Description of the whole thing
        </p>
        <p>@Html.ActionLink("Help for users", "Help", "Home")</p>
        <p>@Html.ActionLink("Help for techies", "HelpTech", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>Favorites</h2>
        <p>
            List your favorites; search YouTube for new videos to add
        </p>
        <p>@Html.ActionLink("Favorites", "Favorites", "Home")</p>
        <p>@Html.ActionLink("Search", "Search", "Home")</p>
    </div>
    <div class="col-md-4">
        <h2>Details</h2>
        <p>
            Details on a specific favorite, as we have saved it
        </p>
        <p>@Html.ActionLink("Details", "Details", "Home")</p>
    </div>
</div>